<!DOCTYPE html>
<html>
<head>
  <title>Loudcloud</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <script src="https://use.fontawesome.com/871bf03501.js"></script>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
</head>
<body>

<%= yield %>

</body>
</html>
